
    <p>散瞳前电脑验光:</p>
    <div class="fl sanTong">
        <!--	<a href="">获取数据</a>-->
        <div class="stsju">
            <!--右眼数据-->
            <div class="F18" id="firstCheckVd">

                VD


            </div>
            <table border="1" cellspacing="0" cellpadding="0">
                <tbody>

                <tr class="F16">
                    <td class="C-blue"> &lt; R &gt;</td>
                    <td>S</td>
                    <td>C</td>
                    <td>A</td>
                    <td> </td>
                </tr>
                <div id="div1">

                </div>
                <tr id="firstcheckr">
                    <td colspan="5" class="F16">L.DATA</td>
                </tr>
                <div id="div2">

                </div>
                <tr>
                    <td colspan="5" class="F16" id="firstCheckRps">PS &nbsp;</td>
                </tr>
                <tr class="F16">
                    <td> </td>
                    <td>R</td>
                    <td>D</td>
                    <td>deg</td>
                    <td> </td>
                </tr>
                <tr id="firstcheckdegr">
                    <td colspan="5" class="F16" id="firstCheckRcs">CS &nbsp;</td>
                </tr>
                <!--<tr>
                    <td colspan="5" class="F16">PD &nbsp; 58.0</td>
                </tr>-->
                </tbody>
                <div  >
                    <td colspan="5"  class="F16" id="firstCheckPd">PD &nbsp;</td>
                </div>
            </table>

            <!--左眼数据-->
            <table border="1" cellspacing="0" cellpadding="0" class="TabLine">
                <tbody>
                <!--	<tr>
                        <td colspan="5" class="F18">VD=12.0mm</td>
                    </tr>-->
                <tr class="F16">
                    <td class="C-blue"> &lt; L &gt;</td>
                    <td>S</td>
                    <td>C</td>
                    <td>A</td>
                    <td> </td>
                </tr>
                <tr id="firstcheckl">
                    <td colspan="5" class="F16">L.DATA</td>
                </tr>

                <tr>
                    <td colspan="5" class="F16" id="firstCheckLps">PS &nbsp;</td>
                </tr>
                <tr class="F16">
                    <td> </td>
                    <td>R</td>
                    <td>D</td>
                    <td>deg</td>
                    <td> </td>
                </tr>

                <tr id="firstcheckdegl">
                    <td colspan="5" class="F16" id="firstCheckLcs">CS &nbsp;</td>
                </tr>
                <!--<tr>
                    <td colspan="5" class="F16">PD &nbsp; 58.0</td>
                </tr>-->
                </tbody>
            </table>
        </div>
    </div>
