
<div th:fragment="two-seven">
	<div class="blue_bor">
		<h3>2-7天儿童视功能及保健要点</h3>
		<p>◆ 筛查排除影响视觉发育的先天性和遗传性眼病。</p>
		<p>◆ 视觉行为能力：感受光亮及明暗变化，接受合适的光线刺激。</p>
		<p>◆ 观察双眼分泌物情况，分泌物较多时及时到医院就诊，排除新生儿结膜炎及新生儿泪囊炎。</p>

		<dl>
			<dt><b>健康小贴士：</b>影响视觉发育的先天性眼病一定要做到早发现早治疗。</dt>
			<dd>新生儿眼疾发病率高，其中先天性眼病是儿童视力丧失和失明的主要原因之一，新生儿眼病治疗的窗口期短，但可干预性较强，因此早期筛查、诊断和干预在预防和减少由眼部疾病引起的视力下降中扮演了极有分量的角色，因此应在宝宝出生后2-7天进行第一次的眼病筛查，筛查方法包括眼前节筛查和全面筛查，眼前节主要是筛查先天性白内障、眼前部发育异常及眼表炎症。
			</dd>
			<dd>眼全面筛查包括眼前节和眼底检查，眼底检查可以筛查牵牛花综合征、早产儿视网膜病变、视网膜母细胞瘤、家族性渗出性视网膜病变等严重影响视觉发育的疾病。</dd>
		</dl>
	</div>
</div>


<div th:fragment="three-month">
	<div class="blue_bor">
		<h3>42天—3月龄儿童视功能及保健要点</h3>
		<p>◆  预防斜视发生：禁止床前悬挂玩具、气球；</p>
		<p>◆ 合理进行“日光浴”：把孩子抱到视野开阔的地方，每天半小时，接受“日光浴”时，禁止遮盖眼睛；</p>
		<p>◆ 避免过早近视：夜间睡觉禁止开夜灯；</p>
		<p>◆ 母亲合理饮食，适当增添富含叶黄素食物，如胡萝卜、南瓜、玉米、地瓜等。</p>
		<dl>
			<dt><b>健康小贴士：</b>新生儿黄色眼屎、眼泪多是怎么回事？</dt>
			<dd>1、一部分宝宝可以自愈，泪道通开后，流泪分泌物情况消失；
			</dd>
			<dd>2、部分宝宝不能自愈，可以局部滴用抗生素滴眼液，并按摩泪囊区（用拇指沿泪囊上方向下方挤压），一周后复查；</dd>
			<dd>3、经抗生素滴眼液治疗效果不佳的宝宝，可以尽早接受泪道探通术。</dd>
		</dl>
	</div>
</div>


<div th:fragment="six-ninemonth">
	<div class="blue_bor">
		<h3>6-9月龄婴幼儿视功能及保健要点</h3>
		<p>◆ 减少近距离用眼，避免接触电子产品，看书、玩玩具等近距离用眼的行为控制在5-10分钟；</p>
		<p>◆ 户外活动：每天2小时，尽量到视野开阔的地方，眼睛能看到50米以上的区域；</p>
		<p>◆ 增添辅食，培养良好的饮食习惯；</p>
		<p>◆ 保证充足睡眠，每天睡眠13-14小时，保证睡眠质量，断夜奶。</p>
		<dl>
			<dt><b>健康小贴士：</b>什么是屈光筛查，宝宝屈光怎么变化？</dt>
			<dd>宝宝的屈光筛查，其实就是宝宝眼睛屈光度的筛查，宝宝出生时，眼睛处于生理性远视，远视度数为3.00D,随着宝宝的生长，眼球屈光度发生相应的变化，视力逐渐提高，通过宝宝屈光度的变化情况，可评估宝宝视力发育情况，并可对宝宝弱视可能性、近视可能性进行大致评估。
			</dd>
			<dd>宝宝不同年龄阶段的屈光度情况（参考）</dd>
		</dl>
	</div>
</div>



<div th:fragment="one-year">
	<div class="blue_bor">
		<h3>1周岁－1周岁半儿童视功能及保健要点</h3>
		<p>◆  注意观察孩子有歪头视物、视物距离过近等异常视觉行为，教儿童穿串珠、捡豆豆等操作，促进精细动作的发展；</p>
		<p>◆ 户外活动：每天2小时，尽量到视野开阔的地方，</p>
		<p>◆ 眼睛能看到50米以上的区域；</p>
		<p>◆ 合理饮食，保证眼睛发育的营养需求；</p>
		◆ 保证充足睡眠，每天12小时以上，晚上睡眠时间为8-9点，最晚不能超过10点睡着。
		<dl>
			<dt><b>健康小贴士：</b>散光——影响孩子视觉发育原因之一</dt>
			<dd>散光的形成：散光是眼球形态的问题，正常眼球是球形，散光的眼球是橄榄球形，儿童眼球是逐渐发育的过程，在发育的过程中，每个年龄阶段散光度数均会发生变化，一般是逐渐下降，部分儿童则可能升高，散光在一定度数内对视力发育影响不大，因此，低度数的散光一般不需要矫正，若散光较大，有影响视力发育的可能，则需矫正。

			</dd>

		</dl>
	</div>
</div>



<div th:fragment="two-year">
	<div class="blue_bor">
		<h3>2周岁－2周岁半儿童视功能及保健要点</h3>
		<p>◆  教孩子分辨简单的图形，认识图形视力表或“E”字视力表，以便孩子3周岁完成视力检查；</p>
		<p>◆ 教孩子辨别红、黄、绿的颜色，以便孩子完成3周岁的色觉检查；</p>
		<p>◆ 避免长时间近距离用眼，避免接触手机、电脑、平板，看电视时间每次不能超过半小时，每天不能超过2次；</p>
		<p>◆ 户外活动每天不能少于2小时。</p>
		<dl>
			<dt><b>健康小贴士：</b>您知道“弱视”吗？</dt>
			<dd>是指在视觉发育期（3岁前）由于斜视、未矫正的屈光不正等引起的最佳矫正视力低于相应年龄的视力，或一眼视力低于另一眼2行以上，并且视功能停留在一个低级水平，长大后即使戴眼镜视力也不能达到正常，对今后的学习、工作、职业选择都有很大的影响。
				弱视应在6岁前治疗，年龄越小疗效越好，所以弱视要早发现早治疗。

			</dd>

		</dl>
	</div>
</div>



















































